<Layout>
    <Card Height="Height.Is100">
        <CardBody Height="Height.Is100" Display="Display.Flex.Column">
            <Row Flex="Flex.Grow.Is1">
                <Column ColumnSize="ColumnSize.Is12">
                    <div id="editor"/>
                </Column>
            </Row>
            <Row>
                <Column ColumnSize="ColumnSize.Is2">
                    <Button Color="Color.Primary" @onclick="Scan">Scan</Button>
                </Column>
            </Row>
        </CardBody>
    </Card>
</Layout>

@inject TranslatorService Translator
@inject IJSRuntime JsRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JsRuntime.InvokeVoidAsync("TranslatorJs.loadEditor");
    }

    private async Task Scan()
    {
        Translator.Program = await JsRuntime.InvokeAsync<string>("TranslatorJs.getProgram");
        var tokensWindow = new Window(new TokensPage());
        Application.Current!.OpenWindow(tokensWindow);
    }
}
